<a href="https://colab.research.google.com/github/skywalker0803r/c620/blob/main/issue/c620_real_data_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import joblib
!pip install autorch > log.txt
c = joblib.load('/content/drive/MyDrive/台塑輕油案子/data/c620/col_names/c620_col_names.pkl')

In [2]:
c.keys()

dict_keys(['x41', 'case', 'yRefluxRate', 'yControl', 'yHeatDuty', 'vent_gas_x', 'distillate_x', 'sidedraw_x', 'bottoms_x', 'vent_gas_sf', 'distillate_sf', 'sidedraw_sf', 'bottoms_sf', 'density'])

# 真實數據 wt數據

In [3]:
path = '/content/drive/MyDrive/台塑輕油案子/data/c620/明志_遷移式學習_訓練資料_寄送版/蒸餾塔(C620_C660_C670)取出品管資料_寄送明志科大 r2.xlsx'
df_real = pd.read_excel(path,sheet_name='資料彙整(寄送明志)r2')
df_real.head()

   Unnamed: 0     Unnamed: 1  ...         Unnamed: 168         Unnamed: 169
0         NaN  C620_Vent_Gas  ...  2021-02-20 00:00:00  2021-02-21 00:00:00
1         NaN       Hydrogen  ...                 9.86                 9.61
2         NaN        Methane  ...                 2.83                 3.46
3         NaN         Ethane  ...                28.64                31.58
4         NaN        Propane  ...                38.95                42.55

[5 rows x 170 columns]

In [4]:
c620_wt1,c620_fout1 = df_real.iloc[1:1+41,2:].T,df_real.iloc[[1+41],2:].T/1000 
c620_wt2,c620_fout2 = df_real.iloc[45:45+41,2:].T,df_real.iloc[[45+41],2:].T/1000  
c620_wt3,c620_fout3 = df_real.iloc[89:89+41,2:].T,df_real.iloc[[89+41],2:].T/1000 
c620_wt4,c620_fout4 = df_real.iloc[133:133+41,2:].T,df_real.iloc[[133+41],2:].T/1000
c620_feed_wt,c620_feed_flow = df_real.iloc[441:441+41,2:].T,df_real.iloc[[441+41],2:].T/1000
idx = df_real.iloc[0,2:].values

c620_wt1.index = idx
c620_wt2.index = idx
c620_wt3.index = idx
c620_wt4.index = idx

c620_wt1.columns = c['vent_gas_x']
c620_wt2.columns = c['distillate_x']
c620_wt3.columns = c['sidedraw_x']
c620_wt4.columns = c['bottoms_x']

In [5]:
z1 = (c620_wt1*c620_fout1.values.reshape(-1,1)).sum(axis=1)
z2 = (c620_wt2*c620_fout2.values.reshape(-1,1)).sum(axis=1)
z3 = (c620_wt3*c620_fout3.values.reshape(-1,1)).sum(axis=1)
z4 = (c620_wt4*c620_fout4.values.reshape(-1,1)).sum(axis=1)
z5 = (c620_feed_wt*c620_feed_flow.values.reshape(-1,1)).sum(axis=1)
z5.index = idx
print(z1+z2+z3+z4)
print('===========')
print(z5)

2020-09-02    100427.247487
2020-09-03     95708.918604
2020-09-04     93182.356770
2020-09-05     96117.822961
2020-09-06     96911.239283
                  ...
2021-02-17    100744.988582
2021-02-18    101797.675365
2021-02-19     86208.095809
2021-02-20     92387.407846
2021-02-21     92612.214007
Length: 168, dtype: float64
===========
2020-09-02    16020.738198
2020-09-03    15956.411496
2020-09-04    16185.885944
2020-09-05    16672.607007
2020-09-06    16625.489224
                  ...
2021-02-17    17148.395591
2021-02-18    17279.930723
2021-02-19    16697.473962
2021-02-20    16176.879703
2021-02-21    17790.634499
Length: 168, dtype: float64

# 模擬數據

In [6]:
df_sim = pd.read_csv('/content/drive/MyDrive/台塑輕油案子/data/c620/cleaned/c620_train.csv',index_col=0)
df_sim_mb = pd.read_csv('/content/drive/MyDrive/台塑輕油案子/data/c620/cleaned/c620_mbcheck.csv',index_col=0)

In [7]:
c620_wt1,c620_f1 = df_sim[c['vent_gas_x']],df_sim_mb['Tatoray Stripper C620 Operation_Vent Gas Production Rate and Composition_Mass Flow Rate_ton/hr']
c620_wt2,c620_f2 = df_sim[c['distillate_x']],df_sim_mb['Tatoray Stripper C620 Operation_Distillate Production Rate and Composition_Mass Flow Rate_ton/hr']
c620_wt3,c620_f3 = df_sim[c['sidedraw_x']],df_sim_mb['Tatoray Stripper C620 Operation_Sidedraw Production Rate and Composition_Mass Flow Rate_ton/hr']
c620_wt4,c620_f4 = df_sim[c['bottoms_x']],df_sim_mb['Tatoray Stripper C620 Operation_Bottoms Production Rate and Composition_Mass Flow Rate_ton/hr']
c620_feed_wt,c620_feed_flow = df_sim[c['x41']],df_sim_mb['Combined Feed to Tatoray Stripper C620_Flow Rate_Mass Flow Rate_ton/hr']

In [8]:
z1 = (c620_wt1*c620_f1.values.reshape(-1,1)).sum(axis=1)
z2 = (c620_wt2*c620_f2.values.reshape(-1,1)).sum(axis=1)
z3 = (c620_wt3*c620_f3.values.reshape(-1,1)).sum(axis=1)
z4 = (c620_wt4*c620_f4.values.reshape(-1,1)).sum(axis=1)
z5 = (c620_feed_wt*c620_feed_flow.values.reshape(-1,1)).sum(axis=1)
print(z1+z2+z3+z4)
print('===========')
print(z5)

001-001    15348.305227
001-002    15348.306044
001-003    15348.306283
001-004    15348.304367
001-005    15348.304304
               ...
144-104    18587.587976
144-105    18587.587189
144-106    18587.582646
144-107    18587.582646
144-108    18587.582646
Length: 15552, dtype: float64
===========
001-001    15348.305846
001-002    15348.305846
001-003    15348.305846
001-004    15348.305846
001-005    15348.305846
               ...
144-104    18587.580181
144-105    18587.580181
144-106    18587.580181
144-107    18587.580181
144-108    18587.580181
Length: 15552, dtype: float64